<style>
    .navbar-custom {
        background-color: #a3e7fc; 
        display: flex;
        align-items: center;
    }

    .navbar-brand {
        display: flex;
        align-items: center;
        gap: 10px; 
    }

    .navbar-brand img {
        border-radius: 35px; 
    }

    .navbar-brand .logo-text {
        font-size: 1.5em; 
      
    }
    .btn-outline-success{
        background-color: #ACE894;
    }
    .btn-custom{
        --bs-btn-color: var(--bs-black);
        --bs-btn-bg: #26c485;
  --bs-btn-border-color: #26c485;
  --bs-btn-border-radius: .5rem;
  --bs-btn-hover-color: var(--bs-black);
  --bs-btn-hover-bg: #26c485;
  --bs-btn-hover-border-color:#26c485;
  --bs-btn-focus-shadow-rgb: #26c485;
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg:#26c485;
  --bs-btn-active-border-color: #26c485;
    }

    .btn-custom .dropdown-toggle {
        display: flex;
        align-items: center;
        gap: 10px; 
    }

    .btn-custom img {
        order: 1;
    }

    .btn-custom  span {
        order: 2;
        font-size: 1.3em; 
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.png" alt="SoulWander" width="70" height="70">
            <span class="logo-text">SoulWander</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <% if (!loggedInUser) { %>
                    <li class="nav-item">
                        <a href="/signup" class="btn btn-outline-success">Sign Up</a>
                    </li>
                <% } else { %>
                    <li class="nav-item mx-5">
                        <a class="nav-link" href="/advices">Advices</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle btn btn-custom" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/images/user-default-icon.png" alt="User" width="30" height="30" style="border-radius: 25px;">
                            <%= loggedInUser.username %>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="/profile">My Profile</a></li>
                            <li><a class="dropdown-item" href="/goal">My Goals</a></li>
                            <li><a class="dropdown-item" href="/journal">My Journal</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
